nltk
numpy
pytest
random
torch
pandas
openai
requests
textblob
starlette
wordcloud
matplotlib
wonderwords
collections
transformers
vaderSentiment
scipy.spatial.distance
sklearn.metrics.pairwise
sklearn.feature_extraction.text
-e git+https://github.com/hypercycle-development/pyhypercycle-aim.git#egg=pyhypercycle_aim
